=begin
#DmsApi

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0

=end

require "uri"

module Pdf4me
  class OcrApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # RecognizeDocument
    # Recognize a Document with OCR and more advanced recognition possibilities like reading out structured business data in form of table.
    # @param [Hash] opts the optional parameters
    # @option opts [RecognizeDocument] :req 
    # @return [RecognizeDocumentRes]
    def recognize_document(opts = {})
      data, _status_code, _headers = recognize_document_with_http_info(opts)
      return data
    end

    # RecognizeDocument
    # Recognize a Document with OCR and more advanced recognition possibilities like reading out structured business data in form of table.
    # @param [Hash] opts the optional parameters
    # @option opts [RecognizeDocument] :req 
    # @return [Array<(RecognizeDocumentRes, Fixnum, Hash)>] RecognizeDocumentRes data, response status code and response headers
    def recognize_document_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OcrApi.recognize_document ..."
      end
      # resource path
      local_var_path = "/Ocr/RecognizeDocument"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json', 'application/bson'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json', 'application/bson'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'req'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RecognizeDocumentRes')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OcrApi#recognize_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
